*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Section 1 style begins */

.section1{
   /* The image used */
  background-image: url("images/desktop/image-header.jpg");

    min-height: 480px;
    width: 100%;
     /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  
    /* Needed to position the navbar */
    position: relative;
}
.navbar{
    background: none;
}
.navbar a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding-right: 26px;
    text-decoration: none;
    font-size: 17px;
}
.navbar .right-menu{
    float: right;
}
.navbar .left-menu{
    float: left;
}
.header-message{
    color: white;
    padding-top: 50px;
    text-align: center;
}

/* Section 1 style ends */


/* Section 2 style begins */
.section2{
    width: 100%;
    background:ivory;
    margin: auto;
}

.section2 .box1{
    width: 1440px;
    height:200px;
    float: left;
    text-align: justify;
}

/* Section 2 style ends */
