*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    max-width: 100%;
    overflow-x: hidden;
}

/* Section 1 style begins */

.section1{
   /* The image used */
  background-image: url("images/desktop/image-header.jpg");

    min-height: 480px;
    width: 100%;
     /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  
    /* Needed to position the navbar */
    position: relative;
}
.navbar{
    padding-top: 20px;
    background: none;
}
.navbar h1{
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.navbar a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding-right: 26px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Barlow', sans-serif;
}
.navbar .right-menu{
    float: right;
}
.navbar .left-menu{
    float: left;
}
.header-message{
    margin-top: 0;
    padding: 0;
    font-family: 'Fraunces', serif;
    color: white;
    padding: 100px;
    text-align: center;
    letter-spacing: 0.8em;
    /* background-color: burlywood; */

}
.container img{
    border:0;
    outline:none !important;
    object-fit: cover;
}



/* Section 1 style ends */

/* Section 2 style begins */

.section2{
    margin: 0;    
}

.container{
width: 50%;
float:left;
padding: 0px;
}
.text-container{
    width: 450px;
    height: 300px;
    /* background-color: teal; */
    margin: auto;
    margin-top: 100px;
}

.container-header{
    font-size: 18px;
    text-align: left;
    padding-top: 50px;
    color: #23303E;
    font-family: 'Fraunces', serif;
}
#brand{
    text-align: left;
}
.more{
    font-family: 'Fraunces', serif;
    font-size: 18px;
    padding-top: 50px;
    color: #23303E;
    text-decoration: underline;
}
.container-paragraph{
    padding-top: 30px;
    color: #5A636C;
    font-size: 18px;
    font-weight: 200;
    text-align: left;
    font-family: 'Barlow', sans-serif;
    line-height: 1.8rem;
}
.img-container{
    position: relative;
    width: 50%;
    float:left;
    padding: 0px;
    text-align: center;
    color: #25564B;
    font-family: 'Fraunces', serif;
}

.containerheader{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.containerparagraph{
    position: absolute;
    text-align: center;
    top: 60%;
}

/* Section 2 style ends */


/* Section 3 style begins */
.section3{
    margin: 0;
    /* background-color: cadetblue; */
    min-height: 480px;
    width: 100%;
    text-align: center;
}

.section3 img{
    border-radius: 50%;
}
.section3 .header{
    text-align: center;
    padding-top: 80px;
    color: #A7ABAE;
    font-family: 'Fraunces', serif;
    letter-spacing: 0.6em;
    font-size: 10px;
}

.client1{
    padding: 50px;
    width: 400px;
    height: 480px;
    float:left;
    /* padding: 50px;
    margin-left: 20px; */
    /* background-color: burlywood; */
}
.client2{
    padding: 50px;

    display: inline-block;
    margin: 0 auto;
    width: 400px;
    height: 480px;
}
.client3{
    padding: 50px;
    width: 400px;
    height: 480px;
    float:right;
    /* padding: 50px;
    margin-left: 20px; */
    /* background-color: burlywood; */
}

.section3 h3{
    padding-top: 40px;
    font-family: 'Fraunces', serif;
    color: #23303E;
}

.section3 p{
    padding-top:50px;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.6em;
    color: #5A636C;
    font-family: 'Barlow', sans-serif;
}

.client-title p{
    padding-top: 5px;
}
/* Section 3 style ends */

/* Section 4 style begins */
.column{
    width: 25%;
    float:left;
    padding: 0px;
}
/* Section 4 style ends */

/* Footer begins */
.footer{
    text-align: center;
    margin-top: 0;
    background-color: #458C7E;
}
/* Footer ends */


/* responsive media querry start */
@media only screen and (max-width: 600px) {
    .container{
        width: 100%;
    }
    .header-message{
        margin-top: 0;
        padding: 0;
        font-family: 'Fraunces', serif;
        color: white;
        padding: 50px;
        text-align: center;
        letter-spacing: 0.2em;    
    }
    .section2{
        display: flex; 
        flex-flow: column;
    }
    #transform-img{
        order: 1;
    }
    #transform-text {
        order: 2;
    }
    #standout-img {
        order: 3;
    }
    #standout-text {
        order: 4;
    }
   
    .navbar{
        display: none;
    }
    .container-header{
        /* font-size: 18px; */
        text-align: center;
        padding-top: 5px;
        /* color: #23303E;
        font-family: 'Fraunces', serif; */
    }
    #brand{
        text-align: center;
    }
    .container-paragraph{
        text-align: center;
        padding: 5px;
        font-family: 'Barlow', sans-serif;
        line-height: 1.8rem;
    }
  }