*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    max-width: 100%;
    overflow-x: hidden;
}

/* Section 1 style begins */

.section1{
   /* The image used */
  background-image: url("images/desktop/image-header.jpg");

    min-height: 480px;
    width: 100%;
     /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  
    /* Needed to position the navbar */
    position: relative;
}
.navbar{
    background: none;
}
.navbar a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding-right: 26px;
    text-decoration: none;
    font-size: 17px;
}
.navbar .right-menu{
    float: right;
}
.navbar .left-menu{
    float: left;
}
.header-message{

    margin-top: 0;
    font-family: 'Fraunces', serif;
    color: white;
    padding: 100px;
    text-align: center;

    /* background-color: burlywood; */

}

/* Section 1 style ends */

/* Section 2 style begins */

.section2{
    margin: 0;    
}

.container{
width: 50%;
float:left;
padding: 0px;
}
.text-container{
    width: 400px;
    height: 300px;
    /* background-color: teal; */
    margin: auto;
    margin-top: 100px;
}

.container-header{
    font-size: 18px;
    text-align: left;
    padding-top: 50px;
    color: #23303E;
    font-family: 'Fraunces', serif;
}
#brand{
    text-align: left;
}
.container-paragraph{
    padding-top: 30px;
    font-size: 18px;
    text-align: justify;
    font-family: 'Barlow', sans-serif;
}
/* Section 2 style ends */
